{% extends 'base.html' %}

{% block title %} Edit Note {% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Note</h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <form method='POST' action='/notes/{{note._id}}'>
                    <input type='hidden' name='_method' value='PUT'/>
                    <div class='form-group'>
                        <label for='note-title'>Title</label><br>
                        <input class='form-control' id='note-title' type='text' name='title' value='{{ note.name }}'/>
                    </div>
                
                    <!-- DESCRIPTION -->
                    <div class='form-group'>
                        <label for='description'>Content</label><br>
                        <input class='form-control' id='description' type='text' name='description' value='{{ note.content }}' />
                    </div>
                    <!-- BUTTON -->
                    <div class='form-group'>
                        <button class='btn btn-primary' type='submit'>Save Note</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}