{% extends "base.html" %}
{% block title %} User {% endblock %}

{% block content %}
    {% include 'partials/flash.html' %}


    <div class="container mt-5 mb-5 px-10 ">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <a href="/notes/new" class="btn btn-primary"> Add note </a>
            </div>
        </div>
    </div>

    {% for note in notes %}
    <div class="container">
        <div class="row">
            <div class="card mt-5 " style="width: 18rem;" >
                <div class="card-body">
                    <h5 class="card-title">{{ note.name }}</h5>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">{{ note.created }}</h6> -->
                    <p class="card-text">{{ note.content }}</p>
                    <a class='card-link' href="/notes/{{ note._id }}/edit"> Edit </a>
                    <form method='POST' action='/notes/{{ note._id }}/delete'>
                        <a class='card-link' type='submit'>Delete</a>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>    
    {% endfor %}





{% endblock %}