{% extends "base.html" %}
{% block title %} User {% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{msg}} </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<p class="col-md-6 offset-md-3 text-center" >Welcome, {{user}}</p>
<div class="container mt-5 mb-5 px-10 ">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h4>You have not added any notes</h4>
            <a href="/notes/new" class="btn btn-primary"> Add note </a>
        </div>
    </div>
</div>
{% endblock %}